#!/usr/bin/env pip-compile -q --allow-unsafe --no-annotate --output-file=requirements.txt
# Avoid using --generate-hashes as it breaks pip install from tox.
# Avoid --no-annotate as it may produce non relative paths
ansible-lint  # this also brings ansible
molecule
molecule-azure
molecule-containers
molecule-digitalocean
molecule-docker
molecule-ec2
molecule-gce
molecule-goss
molecule-inspec
molecule-libvirt
molecule-lxd
molecule-openstack
molecule-podman
molecule-vagrant
openstacksdk
ruamel.yaml.clib>=0.2.2  # performance
yamllint>=1.26.0
